<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (comment(); as commentRef) {
      <div>
        <h2 data-cy="commentDetailsHeading"><span jhiTranslate="bugTrackerJHipsterApp.comment.detail.title">Comment</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ commentRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="bugTrackerJHipsterApp.comment.date">Date</span></dt>
          <dd>
            <span>{{ commentRef.date | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="bugTrackerJHipsterApp.comment.text">Text</span></dt>
          <dd>
            <span>{{ commentRef.text }}</span>
          </dd>
          <dt><span jhiTranslate="bugTrackerJHipsterApp.comment.login">Login</span></dt>
          <dd>
            <span>{{ commentRef.login?.id }}</span>
          </dd>
          <dt><span jhiTranslate="bugTrackerJHipsterApp.comment.child">Child</span></dt>
          <dd>
            @if (comment()!.child) {
              <div>
                <a [routerLink]="['/comment', comment()!.child?.id, 'view']">{{ commentRef.child?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/comment', commentRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
