<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-label-heading" data-cy="LabelCreateUpdateHeading" jhiTranslate="bugTrackerJHipsterApp.label.home.createOrEditLabel">
        Crear o editar Label
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="bugTrackerJHipsterApp.label.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let labelRef = editForm.get('label')!;
        <div class="mb-3">
          <label class="form-label" for="field_label" jhiTranslate="bugTrackerJHipsterApp.label.label">Label</label>
          <input type="text" class="form-control" name="label" id="field_label" data-cy="label" formControlName="label" />
          @if (labelRef.invalid && (labelRef.dirty || labelRef.touched)) {
            <div>
              @if (editForm.get('label')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('label')?.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: '3' }"
                  >Este campo requiere al menos 3 caracteres.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label for="field_tickets" jhiTranslate="bugTrackerJHipsterApp.label.ticket">Ticket</label>
          <select
            class="form-control"
            id="field_tickets"
            data-cy="ticket"
            multiple
            name="tickets"
            formControlName="tickets"
            [compareWith]="compareTicket"
          >
            @for (ticketOption of ticketsSharedCollection; track $index) {
              <option [ngValue]="ticketOption">{{ ticketOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
